<embryo-PageTitle heading="Return Policy" subHeading="Your information is fully secure with us."></embryo-PageTitle>
<div class="inner-container section-gap bg-white">
  <div class="container">
    <div class="privacy-page">
      <mat-card class="mb-5">
        <h4>Return Policy</h4>
        <!-- <h4 class="mb-3" *ngIf="privacyPolicy?.name">
          {{privacyPolicy?.name}}
        </h4>
        <p [innerHTML]="privacyPolicy?.content"></p> -->
      </mat-card>
    </div>
  </div>
</div>
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button class="backToTop" (click)="scrollToTop()">
    <i class="fa fa-chevron-up" style="color: white; font-size: 20px;"></i>
  </button>
</div>
