<mat-card class="home-card" style="margin-top: -55px;">
  <mat-card-content class="home-card-content">
    <img mat-card-image src={{advitiseZero.adImagePic}} style="height:500px" alt="Photo">
    <div style="align-items: center;">
      <div>
        <h1 style="font-family: serif;">{{advitiseZero.adName}}</h1>
      </div>

      <div>
        <h4 style="font-family: serif;">{{advitiseZero.adDescription}}</h4>
      </div>
      <div><button mat-raised-button (click)="navigateToProducts()" style="background-color: #ed1c24;color:white">SHOP
          NOW</button></div>
      <div style="margin-top:10px;">
        <h6>1-Year Membership Included</h6>
      </div>
    </div>
  </mat-card-content>
</mat-card>


















<!-- <div fxLayout='row wrap'>
<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">
  <a [routerLink]="['/products/women']">
    <div class="overlay-wrap">
      <a class="p-link" href="javascript:void(0)">
        <img class="w-100" src="assets/images/sploffer.jpg" width="640" height="430" alt="Sale Call In Action">
      </a>

    </div>
  </a>
</div>
<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">
  <a [routerLink]="['/products/men']">
    <div class="overlay-wrap">
      <a class="p-link" href="javascript:void(0)">
        <img class="w-100" src="assets/images/gym.png" width="640" height="430" alt="Sale Call In Action">
      </a>
      <div class="overlay-content pink-rgba">
        <div>
          <h2>Sale</h2>
          <h5>Gym Equipment Installations</h5>
          <h3>20% Off</h3>
        </div>
      </div>
    </div>
  </a>
</div>
<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="33.33" fxFlex.xl="33.33">
  <a [routerLink]="['/products']">
    <div class="overlay-wrap">
        <a class="p-link" href="javascript:void(0);">
      <img class="w-100" src="assets/images/new.png" width="640" height="430" alt="Sale Call In Action">
      </a>

    </div>
  </a>
</div>

</div> -->
