<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="50" fxFlex.xl="50">

      <p class="aboutUs"> <b> Stayfit </b> – Manufactures & Provide Fitness Solutions for Commercial & Home use
        clientele.
      </p>

      <p class="aboutUs"> Founded on June 24th 1996, STAYFIT has served innumerable customers and helped set up Fitness
        Centers across
        India. The company has supplied Gym Equipment for prestigious clientele from defense sector to elite educational
        institutions/universities, hotels, resorts to clubs and gyms, we have extensive experience in providing quality
        fitness equipment to a wide base of users. </p>

      <p class="aboutUs">
        With well over 2 decades of excellence in the fitness industry, by forging collaborations with leading fitness
        companies across the world, STAYFIT has brought to India the best of fitness equipment. </p>

    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="50" fxFlex.xl="50">

      <p class="aboutUs"> With a multi-city presence, best in class fitness stores, a wide range of fitness products and
        reliable
        service backup, STAYFIT has become the most preferred Fitness brand for the Health – conscious clients.
        Empowering people with a personal touch for a better quality of life is our business in the fitness industry.
      </p>
      <p class="aboutUs">
        We specialize in top-of-the-line commercial and home fitness equipment with the most innovative technologies for
        enhancing the quality of our esteemed customers consistently.
      </p>
      <p class="aboutUs">

        Visit our STAYFIT Chain of fitness showrooms to explore our full range of fitness equipment. Whether you are
        looking for tough multi-gym equipment or a compact treadmill, we have a collection that will suit your
        requirements and will help you and your family. Lead a healthy and active lifestyle!
        Visit Stayfit Today! Exercise for healthy living </p>
    </div>
  </div>
</div>
