<div id="fullScreenDiv">
  <img src="assets/images/tr5.jpg" id="videosubstitute" alt="Full screen background video">
  <div id="videoDiv" style="height:100%">
    <video preload="preload" id="video" autoplay="autoplay" loop="loop" style="filter: brightness(0.5);">
      <source src="assets/images/video.webm" type="video/webm">
      <!-- <source src="video/t12.mp4" type="video/mp4"></source> -->
    </video>
  </div>
  <div id="messageBox">
    <div>
      <h1 style="color:white;font-family: serif;">Bring Home Interactive
      </h1>
      <h2 style="color:white;font-family: serif;">
        Personal Training </h2>
      <button mat-raised-button (click)="navigateToProducts()" style="background-color: #ed1c24;color:white">SHOP
        NOW</button>

    </div>
  </div>
</div>

















<!-- <div class="section-gap pt-3 pb-0" style="margin-top:-16px;">
<ngx-slick-carousel class="carousel home-2-slider" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides">
    <div class="relative" style="height:280px;">
      <img [src]="slide.img" alt="" width="100%">
      <div class="home-2-slider-content">

          <div [innerHTML]="slide?.content"></div>

      </div>
   </div>
  </div>
</ngx-slick-carousel>
</div> -->
