<h1 mat-dialog-title class="headerTitle">Your Order Details </h1>
<div mat-dialog-content>
  <mat-card style="border: 1px solid grey;">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount Amount </th>
            <th>Discount Percentage</th>
            <th>Selling Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productDetails">
            <td style="font-size: 14px; color: #878787;"> {{item.prodductDetails.productName}}
            </td>
            <td style="color: black;"> {{item.quantity}} </td>
            <td> {{item.amountOverAll}} </td>
            <td>{{item.discountAmount}} </td>
            <td>{{item.discountPercentage}}%</td>
            <td><del>{{item.amountInduvisual}}</del></td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-card>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="onNoClick()">Close</button>
</div>