<embryo-PageTitle heading="Terms and Conditions" subHeading="Please read and contact with if you have some issue.">
</embryo-PageTitle>
<div class="inner-container section-gap bg-white">
  <div class="container">
    <div class="tnc-page">
      <mat-card class="mb-5" style="box-shadow: 0 0 30px 0 rgba(0,0,0,.1);">
        <h4 class="mb-3" style="color:#ed1c24">Terms & Conditions</h4>
        <ol style="font-size: 15px;">
          <li>Goods once sold cannot be taken back or exchanged.</li>

          <li>Advance paid for the ordered product(s) cannot be cancelled and Amount will be non refundable.</li>

          <li>Payment - Cheque/ DD in favour of “STAYFIT HEALTH AND FITNESS WORLD PVT. LTD.,” </li>

          <li>Consult a physician before using the equipment and usage of the equipment is solely at user’s own risk.
          </li>

          <li>WARRANTY INCLUDES :
            <ul>- ONE YEAR AGAINST ANY MANUFACTURING DEFECTS UNDER NORMAL CONDITIONS. </ul>
            <ul>- If found faulty/malfunctioning, only the malfunctioning part (s) are or replaceable; not the whole
              equipment. </ul>
            <ul>- Models sold as display or Demo units at less price, does not offer you free warranty & the service is
              available chargeable basis only</ul>
          </li>
          <li>STABILISER IS RECOMMENDED FOR MOTORISED TREADMILLS. Any disputes arising out of Credit Card Transactions
            will be the Liability of the purchaser.</li>


          <li>All Statutory issues against outstation deliveries like Octroi/local taxes, if applicable are extra and
            payable by the Purchaser. Road Permits/Statutory forms required for inter-state transactions have to be
            arranged by the purchaser</li>


          <li>The Equipment(s)is designed for home use only and not for commercial purpose. Specifications of model,
            colour, design, motor capacity, Terms and Conditions of the Equipment(s)may vary from the original catalogue
            due to continuous new development from time to time. Our risk and responsibility ceases as soon as products.
          </li>


          <li>Price on the date of booking the order is final and the same will be considered at the time of delivery
            subject to currency fluctuations. During warranty period service is free at our Service Centre. When our
            Service Technician visits Customer’s Place Conveyance has to be borne by the Customer.</li>


          <li>For all deliveries, services, transport charges will be at actual & to be borne by the purchaser even
            during warranty period.</li>


          <li>Shifting and installation charges will be at actuals, even during warranty / Non warranty period(Time is
            10 AM to 6 PM - Weekdays).</li>


          <li>PLEASE KEEP THIS INVOICE CAREFULLY FOR AVAILING WARRANTY FREE SUPPORT. SERVICE IS CHARGEABLE IF THIS
            INVOICE IS NOT PRODUCED DURING WARRANTY SERVICE.</li>


          <li>STAYFIT is not responsible for any loss of Equipment in case of any exigencies, Perils ofnature, short
            circuits, accidents caused by negligence and by not using in the prescribed / guided manner.</li>


          <li>Any disputes arising out of the transactions shall be under Bangalore Jurisdictions only.</li>


          <li>Govt Taxes-GST@18% as applicable extra.</li>

        </ol>

        <!-- <h4 class="mb-3" *ngIf="termcondition?.name">
         {{termcondition?.name}}
         *ngFor="let termcondition of termContions"
        </h4>
        <div [innerHTML]="termcondition?.content">
        </div> -->
      </mat-card>
    </div>
  </div>
</div>
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button class="backToTop" (click)="scrollToTop()">
    <i class="fa fa-chevron-up" style="color: white; font-size: 20px;"></i>
  </button>
</div>
