<div fxLayout='row wrap' fxLayoutGap="0px" class="feature-list" style="background-color: #d8d4d3;margin-top: -53px;
margin-bottom: 39px;">
  <div class="carder" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="32" fxFlex.lg="32" fxFlex.xl="32">
    <div class="feature-inner p-4">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div>
          <img src="assets/images/free-delivery.png" alt="Feature of embryo" width="50" height="50">
        </div>
        <div class="px-4">
          <h6 class="text-md">FREE SHIPPING</h6>
          <h5 class="text-lg">Every Day, Every Order</h5>
          <span class="text-muted text-md">*All rder over ₹100000</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="5" fxFlex.lg="5" fxFlex.xl="5">

  </div> -->
  <div class="carder" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="32" fxFlex.lg="32" fxFlex.xl="32">
    <div class="feature-inner p-4">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div>
          <img src="assets/images/customer-support.png" alt="Feature of embryo" width="50" height="50">
        </div>
        <div class="px-4">
          <h6 class="text-md">FRIENDLY SUPPORT</h6>
          <h5 class="text-lg">24/7 Dedicated Support</h5>
          <span class="text-muted text-md">*Only In India</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="5" fxFlex.lg="5" fxFlex.xl="5">

  </div> -->
  <div class="carder" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="32" fxFlex.lg="32" fxFlex.xl="32">
    <div class="feature-inner p-4">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div>
          <img src="assets/images/money-back.png" alt="Feature of embryo" width="50" height="50">
        </div>
        <div class="px-4">
          <h6 class="text-md">SECURE</h6>
          <h5 class="text-lg">Money Back Guranteed</h5>
          <span class="text-muted text-md">*Conditions Apply</span>
        </div>
      </div>
    </div>
  </div>
</div>
