<embryo-PageTitle heading="Delivery" subHeading="Share your feedback with us."></embryo-PageTitle>

<div class="inner-container section-gap bg-white">
  <div class="container">
    <div class="tnc-page">
      <mat-card class="mb-5" style="box-shadow: 0 0 30px 0 rgba(0,0,0,.1);">
        <h3 class="mb-3" style="color:#ed1c24">Delivery</h3>
        <p style="font-size: 18px;"><b>
            When you purchase from STAYFIT, you have the following shipping options:
          </b> </p>
        <ol>
          <li>Stayfit will deliver free of cost wherever we have our own store within that city limits.
          </li>
          <li>Where Stayfit doesn't have its own stores - Transport charges will be charged at actual which will be
            communicated prior to the shipment by our Delivery Team.
          </li>
        </ol>

        <p style="font-size: 18px;"> <b> What to expect from our Stayfit Delivery & Installation Team:</b> </p>
        <ol>
          <li>We receive your order and our delivery coordinator will call and verify the order and the date when you
            will need the delivery. He/she will process your order and then the installation team will contact before
            they proceed with the delivery.
          </li>
          <li>Stayfit will strive to deliver the order within 24-48 hours depending on the customer need and
            availability.
          </li>
          <li>
            If the delivery is outside of Stayfit store City Limit, they will call and schedule a certain date for the
            delivery and process accordingly.
          </li>
          <li>The installation team will install the equipment and give you a compete demonstration of the equipment .
          </li>
          <li>Our delivery feedback team will call to take your feedback on the following parameters-timely delivery,
            quality of the equipment delivery, effectiveness of the installation, was the demo provided
            satisfactory.Please share your valuable feedback will be highly appreciated and will enable us to serve you
            better.
          </li>
          <li>In case of any breakdowns, our Stayfit Customer care team will assist you at the earliest on the above
            mentioned parameters.
          </li>
        </ol>

      </mat-card>
    </div>
  </div>
</div>
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button class="backToTop" (click)="scrollToTop()">
    <i class="fa fa-chevron-up" style="color: white; font-size: 20px;"></i>
  </button>
</div>
