<embryo-PageTitle heading="Contact Us" subHeading="Share your feedback with us."></embryo-PageTitle>
<div class="inner-container">
  <div class="Contact-page">

    <div class="contact-info-wrapper">
      <div class="container">
        <div class="section-gap">
          <div fxLayout="row wrap" class="col-gap">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
              <div class="block-title ">
                <h2>Contact Us</h2>
                <h4> Stayfit Corporate Office </h4>
                <p class="contactUs">Sales, Customer service, Delivery and Hr Team</p>
                <span class="contactUs"> Toll Free Number: </span> <span class="contactUs" style="margin-left:18px;">
                  1800 102 9000</span> <br>
                <span class="contactUs"> Landline: </span> <span class="contactUs" style="margin-left:80px;">
                  080-41213333</span> <br>
                <span class="contactUs">Mobile: </span> <span class="contactUs" style="margin-left:92px;">
                  8722644445</span>
              </div>
              <br>
              <div class="mb-4">
                <h4>Stayfit Sales Enquiry</h4>
                <table class="contactUs">
                  <tbody>
                    <tr>
                      <td> Home Use:</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td col-3> Bangalore: </td>
                      <td col-4> 9900111921/9 </td>
                    </tr>
                    <tr>
                      <td> Rest of Karnataka:</td>
                      <td> 9845605773 </td>
                    </tr>
                    <tr>
                      <td>Telangana & Andhra Pradesh:</td>
                      <td> 9989054646</td>
                    </tr>
                    <tr>
                      <td> Corporate/Commercial/Fitness centre/Gym Setup:</td>
                      <td> 8722408000/ 9164699999</td>
                    </tr>
                    <tr>
                      <td> Email-Id: </td>
                      <td> stayfit@stayfitindia.com </td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="mb-4">
                <h4>Customer Support</h4>
                <p class="contactUs"><b>To log in your request/complaint</b></p>
                <p class="contactUs"> Corporate Office : <span style="margin-left: 5pc;"> 080-41213333 </span> </p>
                <p class="contactUs"><b>First level Escalation</b></p>
                <p class="contactUs"> Service Coordinator : <span style="margin-left: 54px;"> 9900464646 </span> </p>
                <p class="contactUs"><b>Service Level Escalation</b></p>
                <p class="contactUs">Operations Manager : <span style="margin-left: 53px;"> 8722015200 </span> </p>
                <p class="contactUs">Email Id : <span style="margin-left: 136px;"> care@stayfitindia.com </span> </p>
              </div>

              <div class="mb-4">
                <h4>Delivery and Installation:</h4>

                <p class="contactUs"> Corporate Office : <span style="margin-left: 5pc;"> 080-41213333 </span> </p>
                <p class="contactUs"><b>First level Escalation </b></p>
                <p class="contactUs"> Delivery Coordinator : <span style="margin-left: 54px;"> 9738009312 </span> </p>
                <p class="contactUs"><b>Second Level Escalation </b></p>
                <p class="contactUs">Operations Manager : <span style="margin-left: 53px;"> 9738009313 </span> </p>
                <p class="contactUs">Email Id: <span style="margin-left: 136px;"> delivery@stayfitworld.in </span> </p>
              </div>

              <div class="mb-4">
                <h4>For Feedback</h4>
                <p class="contactUs"> Email Id : <span style="margin-left: 136px;"> feedback@stayfitindia.com </span>
                </p>
              </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button class="backToTop" (click)="scrollToTop()">
    <i class="fa fa-chevron-up" style="color: white; font-size: 20px;"></i>
  </button>
</div>
